
/* .navbar{
    opacity: 0.8;
} */
.logo{
    padding: 0rem;
    height: 6rem;
    border-radius: 15%;
}
.section-1{
height: 40rem;
    background-image: url(assets/istockphoto-1145602814-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    text-align: center
}
.home{
    justify-content: center;
}
.home p {
    margin: 0 0rem  ;
    font-size: 1.2rem;
    color: antiquewhite;
}
.nav-link{
    color: black;
}
ul li a{
    font-size: 1.5rem;
   
}
.section-2{
height: 30rem;
    
    text-align: center;
}.section-3{
    height: 22.5rem;
    background-color: black;
}
.photo{
    float: right;
}
#image{
    height: 10rem;
}