
/* .navbar{
    opacity: 0.8;
} */
.logo{
    padding: 0rem;
    height: 6rem;
    border-radius: 15%;
}
.section-1{
height: 40rem;
    background-image: url(assets/istockphoto-1145602814-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    text-align: center
}
.home{
    justify-content: center;
}
.home p {
    margin: 0 1rem  ;
    font-size: 1.2rem;
    color: antiquewhite;
}
.nav-link{
    color: black;
}
ul li a{
    font-size: 1.5rem;
   
}
.section-2{
height: auto;
   
    
}
#move{
    padding:3rem 4rem;


}
.section-3{
    height: auto;
    background-color: black;
    flex-wrap: wrap;
    color: antiquewhite;
    font-weight: lighter;
}
.photo{
    float: right;
}
#image{
    height: 23rem;
    float: right;
    padding: 3rem;
}
.fine{
    padding:4rem 4rem;
}
.section-4{
    padding:2rem 3rem;
    height: auto;
}
.section-4 h2{
    padding:0rem 1rem;
  
}
.selectt{
    padding:0rem 1rem;
    height: 25rem;
    box-shadow: 5px 5px 5px 5px #888888;
    width: 40rem;
}
.contact{
    background-color: black;
    opacity: 0.7;
    height: auto;
   
    
}
.cont{
    justify-content: space-between;
    color: antiquewhite;
   flex-wrap: wrap;
    padding:2rem 3rem;
}